@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

*{
	margin: 0;
	padding: 0;
	font-family: "fantasy", "monospace"; 
}
body{
	background-image: url("../resource/retina_wood.png");
}
main{
	display: -webfit-flex;
	display: flex;
}
header{
	border-color: #66cc00;
	border-radius: 35px 35px 35px 0;
	border-style: outset outset solid dashed;
	border-width: 2px 3px 7px 3px;
	padding: 15px 10px 20px 40px;
	margin: 5px 20px 0px 20px; 
}	
section{
	width:70%;
}
aside{
	border-color: #66cc00;
	border-style:none solid none dashed;
	border-radius: 0 20px 20px 0;
	border-width: 0px 7px 4px 3px;
	width: 21.5%;
	margin-left: 20px; 
	padding: 10px 10px 10px 20px;
}
footer{
	border: solid #66cc00;
	border-radius: 0 35px 35px 35px;
	border-style: solid outset outset dashed;
	border-width: 7px 3px 2px 3px;
	padding: 10px 10px 10px 40px;
	margin: 0px 20px 10px 20px; 

	min-height: 40px;
}
h1{
	font-size: 4em;
	color: #66cc00;
}
h2, h4{
	margin: 10px 35px 10px 20px;
}
ul{
	list-style-type: none;
}
ol{
	margin: 20px;
}
a{
	font-size: 1.3em;
	color: #66cc00;
	text-decoration:none;
}
a:hover , a:active{
	color: green;
}
a:link{
	color: #66cc00;
}
a:visited{
	color: green;
}
.home__desc{
	margin: 10px 35px 5px 20px; 
}
.img__style{
	width: 30%;
	height: 30%;
	float: left;
	border-color: #66cc00;
	border-style:none solid none dashed;
	border-radius: 0 20px 20px 0;
	border-width: 0px 7px 4px 3px;
	margin-left: 20px; 
	padding: 3px 3px 3px 3px;
}
.top__nav__bar{
	overflow: hidden;
	display: inline-block;
	text-align:center;
	text-decoration: none;
}
.nav__bar__li{
	padding: 0px;
	margin:0px 10px 0px 10px;
	float: left;
}
.material-icons.gray{
	font-size: 30px;
	color: gray;	
	animation-duration: 1s;
	animation-delay: 0s;
	animation-iteration-count:1;
	animation-name: ;	
}
.stars{
	border: none;
	background: none;
}
#rating, #rating__stars{
	text-align: center;
}
@keyframes icons{
	from{
		transform: rotate(0deg);
		
	}
	to{
		transform: rotate(359deg);
		
	}
}