*{
	padding:0px;
	margin:0px;
	font-family: sans-serif;
}	
body{
	background-color: #ebfaeb;
	padding:0;
	margin:0;
}
.middel_container{
	display: -webfit-flex;
	display: flex;
					// Jag hitta webfit-flex på http://learnlayout.com/flexbox.html
}
.header_layout{	
	padding: 1% 0 2% 3%;
	width: 97%;
	background-color: #bee8a7;
	border-top: 5px dashed #ebfaeb;
	border-bottom: 5px dashed #ebfaeb;
}
.header_text_style{
	font-family: sans-serif;
}
.aside_layout{
	border-right: 5px solid #a1a1a1;
	border-bottom: 5px solid #a1a1a1;
    border-radius: 30px;
	padding-top:20px;
	position: auto;
	background-color: #bee1a1;
	width: 25%;
	height: auto;
	float: left;
	text-align: center;
	
}
.aside_image_style{
	text-align: center;
	width: 70%;
	height: width;
	padding-bottom:15px;
	
}
.image_style{
	min-width: 180px;
	min-height: min-width;
	width: 20%;
	height: width;
	
}
.main_layout{
	padding: 1% 3% 1% 1%;
	background-color: #ebfaeb;
	width: 75%;
	padding-left: 15px;
}
.footer_layout{
	padding: 2% 0 2% 5%;
	background-color: #bee8a7;
	width: 95%;
	border-top: 5px dashed #ebfaeb;
	border-bottom: 5px dashed #ebfaeb;
}
ul{
	text-align: left;
	padding-left: 5%;
}
li{
	margin: 5px 0 5px 0;
	list-style-type: none;
}
h3{
	padding: 10% 0 2% 0;
	text-align: center;
}
h2{
	padding: 1% 0 2% 1%;
}